<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{title || "No Title!!"}
    link(rel="stylesheet", href="styles.css")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.1.1/css/all.css")
  body   

    block body

    .flash-box(rel="js-flashBox")

    script(src="App.bundle.js")

