extends home

block content

  h1 Lists Home

  .lists
    form.add-list(action="/lists" method="POST" rel="js-add-list-form")
      label(for="title") Title
      input(type="text" name="title" rel="js-list-save-input").add-list__input
      button.list-save(type="submit") BOOM

  include partials/_messages