// .lists {
// //  padding: 10px; 
// }

.lists__container {
  // display: flex;
  flex-wrap: wrap;
}

.list {
  padding: 20px;
  wdth: 100%;
  // margin: 5px;
  background-color: $grey1;
}

.list__header {
  display: flex;
}

.list__title {
  flex-grow: 9;
}

.list__open {
flex-grow: 1;
}

